


/*Utility*/

.card-mw {
    max-width: 390px;
}


/*Generics*/
h1 {
    color: rgb(207, 17, 80);
    font-size: 40px;
    font-weight: 700;
    
}


/*--------HEADER--------*/
#header-description {

    font-size: large;
    color: black;
}




/*--------MAIN*--------/

/*Cards*/
