


/*Utility*/


/*Generics*/

/*--------HEADER--------*/

h1 {
    color: rgb(207, 17, 80);
    font-size: 40px;
    font-weight: 700;
    
}

#header-description {

    font-size: large;
    color: black;
}
